{% extends "header.html" %}
{% block content %}
<div>
    <img class="image" src="data:image/png;base64,{{post.image}}" width='400px' alt="image">
    <div>
        <a href="{{ url_for('posts.user_detail', uid=post.poster_id) }}">
            @{{ post.poster_name }}
        </a>
    </div>
    <div>{{ post.date }}</div>
    <div>{{ post.num_likes }} likes</div> 
    <form action="" method="post">
        {{ like_form.csrf_token }}
        {{ like_form.submit() }}
    </form>
    <h5>{{ post.caption }}</h5>

    <h3>Comments</h4>
    <ul class="media-list">
        {% for comment in comments %}
        <li class="media review-item">
          <div class="media-body">
            <span class="float-right">
              <small>{{ comment.date }}</small>
            </span>
            <a href="{{ url_for('posts.user_detail', uid=comment.commenter.uid) }}">
              <strong>@{{ comment.commenter.username }}</strong>
            </a>
            <p>
              {{ comment.content }}
            </p>
          </div>
        </li>
        {% endfor %}
      </ul>
    <form action="" method="post">
        {{ comment_form.csrf_token }}
        <div class="form-group">
            {{ comment_form.text(class="form-control") }}
    
            {% if comment_form.text.errors %}
            <div class="alert alert-warning" role="alert">
                {% for error in comment_form.text.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {{ comment_form.submit() }}
    </form>
</div>
{% endblock %}